version: '3.8'

services:
  trail-mate-db:
    image: postgres:13
    container_name: trail-mate-db
    environment:
      POSTGRES_DB: trailmate
      POSTGRES_USER: user
      POSTGRES_PASSWORD: userpassword
    volumes:
      - postgres-data:/var/lib/postgresql/data
    ports:
      - '5432:5432'
    healthcheck:
      test: ['CMD', 'pg_isready', '-U', 'user']
      timeout: 20s
      retries: 10

volumes:
  postgres-data:
