name: Deploy

on:
  push:
    branches:
      - main

jobs:
  build_and_push:
    name: Build and push Docker image to ECR
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v2

      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1

      - name: Setup Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18'

      - name: Generate task definition
        run: npx -y ts-node --esm ./backend/create-type-definition.mts
        env:
          IMAGE_TAG: ${{ github.sha }}

      - name: Setup Docker buildx
        uses: docker/setup-buildx-action@v2

      - name: Build, tag, and push image to Amazon ECR
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: ${{ steps.login-ecr.outputs.registry }}/trail-mate-repository:${{ github.sha }}
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Deploy to Amazon ECS
        uses: aws-actions/amazon-ecs-deploy-task-definition@v1
        with:
          task-definition: path-to-your-task-definition.json
          service: trail-mate-service
          cluster: trail-mate-cluster
          wait-for-service-stability: true
